@tailwind base;
@tailwind components;
@tailwind utilities;



/*Effects for Carousel*/
.card-slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: rgb(223, 222, 222);
  }
  
  .cards-container {
    display: flex;
    transition: transform 0.5s ease;
    
  }
  
  .card {
    position: relative;
    flex: 0 0 auto;
    width: 25%;
  }
  
  .card::before {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.137); /* Black overlay */
  }
  
  .card img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .controls {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .controls button {
    margin: 0 5px;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.863);
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  /*Effects for Carousel*/

  /* overlay for work experience*/
  
  
  .imageContainer {
    position: relative;
    overflow: hidden; 
    border:2px solid transparent;
  }
  
 
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .overlayText, .overlayDescription {
    color: #589DDC;
    font-size: 30px; /* Adjust font size as needed */
    text-align: center;
  }

  .overlayDescription{
    color:#999999;
    font-size:15px;
  }
  
  

  


  /* overlay for work experience*/


/*Animations*/
  @keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-up {
    animation: fadeUp 1s ease-out forwards;
}

.fade-up-delay {
  opacity: 0;
  animation: fadeUp 1s ease-out forwards;
  animation-delay: 1s; /* Adjust this delay to match the duration of the h1 animation */
}


@keyframes shrinkOut {
  0% {
      transform: scale(1);
  }
  100% {
      transform: scale(0);
      opacity: 0;
  }
}

.shrink-out {
  animation: shrinkOut 1s ease-out forwards;
}


  
  /* Overlay on projects list */
  .imageContainer:hover .overlay {
    background-color: rgba(255, 255, 255, 0.966); 
    
    
    opacity: 1; 
  }

  .imageContainer:hover {
    border-color: #ccc; /* Grey border color */
  }
  
 /* Overlay on projects list */

  
  
  
  
  